@import "bootstrap";
$main-lightblue: #4090DB;
$confirmation-msg-color: #4090DB;
$lightgrey: #edeeee;
$background-color: #FAFAFA;
$about-bg-color: white;
$about-font-color: black;
$projects-bg-color: white;
$projects-font-color: black;
$contact-bg-color: white;
$contact-font-color: black;
$icon-color: #4090DB;
// $icon-hover-color: #FFF672;
$icon-hover-color: #2D6599;
$background-img: 'http://i.imgur.com/6duIe5i.jpg';
$header-font: 'Raleway';
.confirmation-msg {
	color: $confirmation-msg-color;
}
html {
	background: $background-color;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    // background: $background-color;
	}
}
label {
	font-family: $header-font;
}

h3 {
	font-family: $header-font;
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}
a {
	color: $main-lightblue;
}
a:hover {
	text-decoration: none;
	color: $icon-hover-color;
}
.container-fluid {
	background: $background-color;
	#main-header {
		position: relative;
		height:100px;
		#profile-pic-container {
		width: 73px;
		height: 73px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 55px;
		#profile-pic {
			border: 1px solid lightgrey;
			height: 70px;
			border-radius: 50px;
			margin: 0 auto;
			}
		}
	}
	#about {
		border: 1px solid $lightgrey;
		border-bottom: none;
		background: $about-bg-color;
		color: $about-font-color;
	}
	#projects {
		border-right: 1px solid $lightgrey;
		border-left: 1px solid $lightgrey;
		background: $projects-bg-color;
		color: $projects-font-color;
		#project-grid {

			.project {
				// border: 1px solid gray;
				text-align: center;
				.project-img {
					width: 80%;
					max-height: 80%;
				}
			}
		}
	}
	#contact {
		border-left: 1px solid $lightgrey;
		border-right: 1px solid $lightgrey;
		border-bottom: 1px solid $lightgrey;
		background: $contact-bg-color;
		color: $contact-font-color;
	}

	#social-media-container {
		width: 142px;
		margin: 0 auto;
		.social-media-icon {
			display: inline-block;
			color: $icon-color;
			&:hover {
				color: $icon-hover-color;
			}
		}
	}
	.hidden-btn {
		background: transparent;
		border: none;
		color: $main-lightblue;
		&:hover {
			color: $icon-hover-color;
		}
		&:focus {
			outline: none;
		}
	}
}

